---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us</Fragment>
      <Fragment slot="desc">Have something you want to bring to our attention?</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <!-- <h2 class="font-medium text-2xl text-gray-800">Contact Cabeça de Queijo</h2> -->
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We are here to help. Below is our contact info -
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>São Paulo, Brasil</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:gopackgo@CabecadeQueijo.com.br"
              >gopackgo@CabecadeQueijo.com.br</a
            >
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
