---
import { getNextGames } from '@utils/getNextGames';
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

function isGameToday(gameTime) {
  const gameDate = new Date(gameTime);
  const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

  // Convert game time to user's time zone
  const gameTimeInUserTimezone = new Date(gameDate.toLocaleString('en-US', { timeZone: userTimezone }));

  // Get the current date in the user's time zone
  const now = new Date();

  // Check if the game is happening today in the user's time zone
  const isToday =
    gameTimeInUserTimezone.getDate() === now.getDate() &&
    gameTimeInUserTimezone.getMonth() === now.getMonth() &&
    gameTimeInUserTimezone.getFullYear() === now.getFullYear();

  // Check if the game time has already passed today
  // const hasGameStarted = gameTimeInUserTimezone.getTime() < now.getTime();
  // return isToday && !hasGameStarted;

  return isToday;
}

const { nextGame } = await getNextGames();
const isPlayingToday = nextGame && isGameToday(nextGame.dateOfMatch);
---

<Layout
  seoTitle={`Is There a Green Bay Packers Game Today? ${isPlayingToday ? 'YES' : 'NO'}`}
  seoDescription={`Quickly check to see if the Green Bay Packers are playing today.`}
  seoOpenGraph={{
    basic: {
      title: `Is There a Green Bay Packers Game Today? ${isPlayingToday ? 'YES' : 'NO'}`,
      type: "website",
      image: `https://cabecadequeijo.com/og/og-playing-${isPlayingToday ? 'yes' : 'no'}.png`,
      url: "https://cabecadequeijo.com/play-today/",
    },
    image: {
      alt: `Is There a Green Bay Packers Game Today website screenshot? ${isPlayingToday ? 'YES' : 'NO'}`,
    },
  }}
>
  <Container>
    <div class="flex flex-col justify-center items-center pt-12 min-h-96">
      <div class="text-3xl font-semibold mb-4">
        Is There a Green Bay Packers Game Today?
      </div>
      <div class="text-[12rem] font-bold">
        {isPlayingToday ? '🧀 YES 🧀' : 'NO 😭'}
      </div>
    </div>
  </Container>
</Layout>
