---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import JoinHero from "@components/joinHero.astro";
import StartAChapter from "@components/startAChapter.astro";
import Newsletter from "@components/newsletter.astro";
import WhatsAppJoin from "@components/whatsApp.astro";
import MemberBenefits from "@components/memberBenefits.astro";
import { getLangFromUrl } from '../i18n/utils';
import { getSeoMetadata } from '../i18n/seo';

const lang = getLangFromUrl(Astro.url);
const seo = getSeoMetadata('join', lang);
---

<Layout
  seoTitle={seo.title}
  seoDescription={seo.description}
  seoOpenGraph={{
    basic: {
      title: seo.title,
      type: "website",
      image: seo.ogImage,
      url: seo.ogUrl,
    },
    image: {
      alt: seo.ogAlt,
    },
  }}
>
  <Container>
    <JoinHero></JoinHero>
    <MemberBenefits />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-0">
      <div class="col-span-1">
        <!-- Content for joining email newsletter -->
        <Newsletter />
      </div>
      <div class="col-span-1">
        <!-- Content for Joining WhatsApp Community Here -->
        <WhatsAppJoin />
      </div>
    </div>
    <!-- Submit a Bar, View Current Bars, Upcoming Games, etc -->
    <StartAChapter />
  </Container>
</Layout>
