---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import JoinHero from "@components/joinHero.astro";
import StartAChapter from "@components/startAChapter.astro";
// import ChapterStats from "@components/chapterStats.astro";
import Newsletter from "@components/newsletter.astro";
import WhatsAppJoin from "@components/whatsApp.astro";
import MemberBenefits from "@components/memberBenefits.astro";
---

<Layout
  seoTitle="Join the Green Bay Packers Fan Club in Brazil"
  seoDescription="Become a member of the official Green Bay Packers fan club in Brazil. Connect with fellow fans, get exclusive updates, and show your support for the team."
  seoOpenGraph={{
    basic: {
      title: "Join the Green Bay Packers Fan Club in Brazil",
      type: "website",
      image: "https://cabecadequeijo.com/og/og-join-us-eng.png",
      url: "https://cabecadequeijo.com/join/",
    },
    image: {
      alt: "Cabeça de Queijo Join Us Page",
    },
  }}
>
  <Container>
    <JoinHero>
      <!-- <ChapterStats /> -->
    </JoinHero>
    <MemberBenefits />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-0">
      <div class="col-span-1">
        <!-- Content for joining email newsletter -->
        <Newsletter />
      </div>
      <div class="col-span-1">
        <!-- Content for Joining WhatsApp Community Here -->
        <WhatsAppJoin />
      </div>
    </div>
    <!-- Submit a Bar, View Current Bars, Upcoming Games, etc -->
    <StartAChapter />
  </Container>
</Layout>
