---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="stats stats-vertical lg:stats-horizontal shadow m-12">
  <div class="stat place-items-center">
    <div class="stat-title">{t("chapterStats.brazilianCheeseheads")}</div>
    <div class="stat-value">~31K</div>
    <slot />
  </div>
  
  <div class="stat place-items-center">
    <div class="stat-title">{t("chapterStats.chapters")}</div>
    <div class="stat-value">1</div>
  </div>

</div>
