---
import { t } from "i18next";
---

<div class="stats stats-vertical lg:stats-horizontal shadow m-12">
  <div class="stat place-items-center">
    <div class="stat-title">{t("chapterStats.brazilianCheeseheads")}</div>
    <div class="stat-value">~31K</div>
    <slot />
    <!-- <div class="stat-actions">
      <a href="/join" role="button" class="btn btn-sm btn-success">{t("chapterStats.join")}</a>
    </div> -->

    <!-- <div class="stat-desc">Jan 1st - Feb 1st</div> -->
  </div>
  
  <div class="stat place-items-center">
    <div class="stat-title">{t("chapterStats.chapters")}</div>
    <div class="stat-value">1</div>
    <!-- <div class="stat-desc">↗︎ 400 (22%)</div> -->
  </div>

  <!-- <div class="stat place-items-center">
    <div class="stat-title">Rooting For</div>
    <div class="stat-value">1</div>
    <div class="stat-desc">TEAM</div>
  </div> -->
</div>
