---
// import Link from "./ui/link.astro";
---

<div
  class="bg-accent p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-primary text-4xl md:text-6xl tracking-tight font-extrabold">
    Go. Pack. Go.
  </h2>
  <p class="text-content-400 mt-4 text-lg md:text-xl">
    <!-- Add text below about how to join a chapter -->
    Join a chapter near you or start your own.
  </p>
  <div class="flex mt-5">
    <a href="/join" role="button" class="btn btn-primary mr-12">Join a Chapter</a>
    <a href="/chapters" role="button" class="btn btn-primary">Start a Chapter</a>
  </div>
</div>
