---
import { Picture } from "@astrojs/image/components";
import mainLogoImage from "assets/cdq_large.png"
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-2 md:pt-3 md:pb-6">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={mainLogoImage}
      alt="Logo for Cabeça de Queijo"
      widths={[200, 400, 600]}
      aspectRatio="4:4"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-4xl lg:text-5xl xl:text-6xl lg:tracking-tight xl:tracking-tighter">
      The <span class="font-italic font-skinny">(un)</span>Official
    </h1>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <span class="text-primary">Green Bay</span> <span class="text-secondary">Packers</span>
    </h1>
    <h1 class="text-4xl lg:text-5xl xl:text-6xl lg:tracking-tight xl:tracking-tighter">
      Fan Club in Brasil 🇧🇷
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Cabeça de Queijo is a fan club for the American National Football (NFL) Team - Green Bay Packers in Brasil. We are a group of fans that love the Packers and want to share our passion with other fans in Brasil.
    </p>
    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Submit a Bar
      </Link>
    </div> -->
    <!-- <a role="button" class="btn btn-primary">Current Chapters</a> -->
    <br>
    <a role="button" class="btn btn-secondary" href="#selling-points">Learn More</a>
    <a href="/join" role="button" class="btn btn-primary">Join Cabeça de Queijo for Free</a>
    <!-- Submit a Bar, View Current Bars, Upcoming Games, etc -->
  </div>
</main>
