---
import { Picture } from "@astrojs/image/components";
import LambeauLeapImage from "assets/lambeauLeap.jpeg"
---

<div class="relative">
  <Picture
    src={LambeauLeapImage}
    alt="Lambeau Leap Image"
    widths={[600]}
    aspectRatio="4:4"
    sizes="(min-width: 800px) 100vw, 620px"
    loading="lazy"
    format="avif"
    class="rounded-lg"
  />
  <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40 rounded-lg">
    <slot /> <!-- This is where the children will be inserted -->
  </div>
</div>
<!-- 
{chapter.status === "Coming Soon" && (
<div class="absolute inset-0 bg-black bg-opacity-60 flex flex-col items-center justify-center rounded-lg backdrop-blur-sm">
  <span class="font-extrabold text-white text-3xl pb-2">{chapter.city}</span>
  <span class="font-extrabold text-white text-2xl pb-2">Coming Soon</span>
  <a href="/join" class="btn btn-accent text-md">
    🧀 Get Notified
  </a>
</div> -->