---
import { Picture } from "@astrojs/image/components";
import LambeauLeapImage from "assets/lambeauLeap.jpeg"
import { t } from "i18next";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-2 md:pt-3 md:pb-6">
  <div class="py-6 sm:order-1 sm:block">
    <Picture
      src={LambeauLeapImage}
      alt={t("joinComponent.altTag")}
      widths={[748, 512]}
      aspectRatio="4:4"
      sizes="(max-width: 748px) 748px, 512px"
      loading="lazy"
      format="avif"
      class="rounded-lg"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      {t("joinComponent.title")}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      <!-- {t("joinComponent.subtitle")} -->
    </p>
    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Submit a Bar
      </Link>
    </div> -->
    <!-- <a role="button" class="btn btn-primary">Current Chapters</a> -->
    <br>
    <!-- This is where children will appear -->
    <slot />    
  </div>
</main>
