---
import { Icon } from "astro-icon";
import { t } from "i18next";
---

<div class="alert mt-12 mb-12">
  <span class="text-sm font-bold lg:tracking-tight mw-12">{t("joinAChapter.text")}<slot /></span>
  <div class="join">
    <a href={t("joinAChapter.buttonLink")} role="button" class="btn btn-secondary">
      <Icon class="text-black w-5 h-5" name="mdi:account-group-outline" />
      {t("joinAChapter.buttonText")}
      <slot />
    </a>
  </div>
</div>
