---
import { Icon } from "astro-icon";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mt-24">
  <h2 class="text-center text-base-content/60">{t('logos.text')} <span class="text-packers-green-900 font-semibold">{t('logos.colors')}</span> {t('logos.are')} <span class="text-packers-gold-600 font-semibold">{t('logos.incredible')}</span></h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap text-packers-green-800/60">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
  </div>
</div>
