---
import FeatureGrid from './FeatureGrid.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const memberBenefits = [
  {
    title: t('memberBenefits.community.title'),
    description: t('memberBenefits.community.description'),
    icon: 'mdi:account-group-outline'
  },
  {
    title: t('memberBenefits.updates.title'),
    description: t('memberBenefits.updates.description'),
    icon: 'mdi:email-newsletter'
  },
  {
    title: t('memberBenefits.events.title'),
    description: t('memberBenefits.events.description'),
    icon: 'mdi:calendar-multiple'
  },
  {
    title: t('memberBenefits.content.title'),
    description: t('memberBenefits.content.description'),
    icon: 'mdi:content-copy'
  },
  {
    title: t('memberBenefits.experiences.title'),
    description: t('memberBenefits.experiences.description'),
    icon: 'mdi:star-outline'
  }
] as const;
---

<div class="mt-4 md:mt-4" id="member-benefits">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("memberBenefits.title")}
  </h2>
  <p class="text-lg mt-4 text-slate-700">
    {t("memberBenefits.subtext")}
  </p>
</div>

<FeatureGrid items={memberBenefits} class="mt-10 gap-10 md:pb-6 mb-6" />
