---
import { Icon } from "astro-icon";

import { t } from "i18next";

const memberBenefits = t("memberBenefits.benefits", { returnObjects: true });
---

<div class="mt-12 md:mt-12" id="selling-points">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("memberBenefits.title")}
    
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {t("memberBenefits.subtext")}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 md:pb-12 mb-12">
  {
    memberBenefits.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
