---
import { t } from "i18next";

// TO-DO - Work in Progress to add TV networks + outcome + logic to not display games in the past
const schedule = [
  {
    dateOfMatch: "2023-09-10T13:00:00.000-03:00",
    opponent: "at Chicago Bears",
    outcome: "W",
    score: "38-20"
  },
  {
    dateOfMatch: "2023-09-17T14:00:00.000-03:00",
    opponent: "at Atlanta Falcons",
    outcome: "L",
    score: "24-25"
  },
  {
    dateOfMatch: "2023-09-20T14:00:00.000-03:00",
    opponent: "New Orleans Saints",
  },
  {
    dateOfMatch: "2023-09-28T21:15:00.000-03:00",
    opponent: "Detroit Lions",
  },
  {
    dateOfMatch: "2023-10-09T21:15:00.000-03:00",
    opponent: "at Oakland Raiders",
  },
  {
    dateOfMatch: "2023-10-22T17:25:00.000-03:00",
    opponent: "at Denver Broncos",
  },
  {
    dateOfMatch: "2023-10-29T14:00:00.000-03:00",
    opponent: "Minnesota Vikings",
  },
  {
    dateOfMatch: "2023-11-05T15:00:00.000-03:00",
    opponent: "Los Angeles Rams",
  },
  {
    dateOfMatch: "2023-11-12T15:00:00.000-03:00",
    opponent: "at Pittsburgh Steelers",
  },
  {
    dateOfMatch: "2023-11-19T15:00:00.000-03:00",
    opponent: "Los Angeles Chargers",
  },
  {
    dateOfMatch: "2023-11-23T15:00:00.000-03:00",
    opponent: "at Detroit Lions",
  },
  {
    dateOfMatch: "2023-12-03T22:20:00.000-03:00",
    opponent: "Kansas City Chiefs",
  },
  {
    dateOfMatch: "2023-12-11T22:15:00.000-03:00",
    opponent: "at New York Giants",
  },
  {
    dateOfMatch: "2023-12-17T15:00:00.000-03:00",
    opponent: "Tampa Bay Buccaneers",
  },
  {
    dateOfMatch: "2023-12-24T15:00:00.000-03:00",
    opponent: "at Carolina Panthers",
  },
  {
    dateOfMatch: "2024-12-31T22:20:00.000-03:00",
    opponent: "at Minnesota Vikings",
  },
  {
    dateOfMatch: "2024-01-07T00:00:00.000-03:00",
    opponent: "Chicago Bears",
  },
];

function calculateTimeUntilMatch(dateOfMatch) {
  const today = new Date();
  const matchDate = new Date(dateOfMatch);
  const timeDifference = matchDate.getTime() - today.getTime();
  const daysUntilMatch = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
  if(daysUntilMatch === 0) return t("nextGames.today");
  return `${t("nextGames.in")} ${daysUntilMatch} ${t("nextGames.day")}${daysUntilMatch > 1 ? 's' : ''}`;
}

function convertToReadableDate(dateString) {
  const date = new Date(dateString);
  const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
  const localeString = t("nextGames.localeString");
  return date.toLocaleDateString(localeString, options);
}

function extractTime(dateString) {
  const date = new Date(dateString);
  const options = { hour: 'numeric', minute: '2-digit', hour12: true };
  const localeString = t("nextGames.localeString");
  return date.toLocaleTimeString(localeString, options);
}

---

<div class="mt-16 md:mt-0 py-4 pb-24" id="schedule">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("nextGames.title")}
  </h2>
  <div class="grid grid-cols-4 gap-4 max-h-100 text-lg mt-4 text-slate-600">
    {
      schedule
      .filter((game) => {
        const today = new Date();
        const gameDate = new Date(game.dateOfMatch);

        return (
          gameDate.getFullYear() > today.getFullYear() ||
          (gameDate.getFullYear() === today.getFullYear() && gameDate.getMonth() > today.getMonth()) ||
          (gameDate.getFullYear() === today.getFullYear() && gameDate.getMonth() === today.getMonth() && gameDate.getDate() >= today.getDate())
        );
      })
      .sort((a, b) => new Date(a.dateOfMatch).getTime() - new Date(b.dateOfMatch).getTime())
      .slice(0, 4)
      .map((game, index) => (
        <div class="card w-50 bg-neutral text-neutral-content">
          <div class="card-body">
            <h2 class="card-title text-center">{index === 0 ? calculateTimeUntilMatch(game.dateOfMatch) : convertToReadableDate(game.dateOfMatch)}</h2>
            <p class="pt-5 pb-0"><strong>{t("nextGames.time")}:</strong>{` ${extractTime(game.dateOfMatch)}`} Local Time</p>
            <p class="pb-5"><strong>{t("nextGames.opponent")}:</strong>{` ${game.opponent}`}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
