---
// @ts-ignore
import { Icon } from "astro-icon";
import { t } from "i18next";

interface SellingPoint {
  title: string;
  description: string;
  icon: string;
}

let sellingPoints: SellingPoint[] = [];
try {
  const items = t("sellingPoints.sellingPoints", { returnObjects: true });
  if (Array.isArray(items) && items.every(item => typeof item === 'object' && 'title' in item)) {
    sellingPoints = items as SellingPoint[];
  }
} catch (error) {
  console.error("Error loading selling points:", error);
}
---

<div class="mt-4 md:mt-0" id="selling-points">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("sellingPoints.title")}
    
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    {t("sellingPoints.subtext")}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-8 gap-12">
  {
    sellingPoints.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
