---
import FeatureGrid from './FeatureGrid.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sellingPoints = [
  {
    title: t('sellingPoints.richHistory.title'),
    description: t('sellingPoints.richHistory.description'),
    icon: 'bx:bxs-book'
  },
  {
    title: t('sellingPoints.globalCommunity.title'),
    description: t('sellingPoints.globalCommunity.description'),
    icon: 'mdi:globe'
  },
  {
    title: t('sellingPoints.cheeseheads.title'),
    description: t('sellingPoints.cheeseheads.description'),
    icon: 'icon-park-outline:cheese'
  },
  {
    title: t('sellingPoints.lambeauField.title'),
    description: t('sellingPoints.lambeauField.description'),
    icon: 'ic:outline-stadium'
  },
  {
    title: t('sellingPoints.ownership.title'),
    description: t('sellingPoints.ownership.description'),
    icon: 'bx:bxs-group'
  },
  {
    title: t('sellingPoints.competitive.title'),
    description: t('sellingPoints.competitive.description'),
    icon: 'bx:bxs-trophy'
  }
];
---

<div class="mt-4 md:mt-0" id="selling-points">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("sellingPoints.title")}
  </h2>
  <p class="text-lg mt-4 text-slate-700">
    {t("sellingPoints.subtext")}
  </p>
</div>

<FeatureGrid items={sellingPoints} />
