---
import { Icon } from "astro-icon";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sellingPoints = [
  {
    title: t('sellingPoints.richHistory.title'),
    description: t('sellingPoints.richHistory.description'),
    icon: 'bx:bxs-book'
  },
  {
    title: t('sellingPoints.globalCommunity.title'),
    description: t('sellingPoints.globalCommunity.description'),
    icon: 'mdi:globe'
  },
  {
    title: t('sellingPoints.cheeseheads.title'),
    description: t('sellingPoints.cheeseheads.description'),
    icon: 'icon-park-outline:cheese'
  },
  {
    title: t('sellingPoints.lambeauField.title'),
    description: t('sellingPoints.lambeauField.description'),
    icon: 'ic:outline-stadium'
  },
  {
    title: t('sellingPoints.ownership.title'),
    description: t('sellingPoints.ownership.description'),
    icon: 'bx:bxs-group'
  },
  {
    title: t('sellingPoints.competitive.title'),
    description: t('sellingPoints.competitive.description'),
    icon: 'bx:bxs-trophy'
  }
];
---

<div class="mt-8 md:mt-4" id="selling-points">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-base-content">
    {t("sellingPoints.title")}
  </h2>
  <p class="text-lg mt-4 text-base-content/60">
    {t("sellingPoints.subtext")}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-12">
  {
    sellingPoints.map((item) => (
      <div class="flex gap-4 items-start group">
        <div class="mt-1 bg-packers-green-900 rounded-full p-2 w-8 h-8 shrink-0 group-hover:bg-packers-gold-500 transition-colors">
          <Icon class="text-white group-hover:text-packers-green-900" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-base-content">{item.title}</h3>
          <p class="text-base-content/60 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
