---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="alert mt-12 mb-12">
  <span>{t("startAChapter.text")}</span>
  <div>
    <a href={t("startAChapter.buttonLink")} role="button" class="btn btn-primary">{t("startAChapter.buttonText")}</a>
  </div>
</div>
