---
import { t } from "i18next";
---

<div class="alert">
  <span>{t("startAChapter.text")}</span>
  <div>
    <a href={t("startAChapter.buttonLink")} role="button" class="btn btn-primary">{t("startAChapter.buttonText")}</a>
  </div>
</div>
