---
import { Image } from "astro:assets";
import WhatsAppCommunityLogo from "assets/whatsappcommunity.png"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="bg-packers-green-50 border border-packers-green-200 p-4 md:px-20 md:py-16 mx-auto max-w-5xl rounded-2xl flex flex-col items-center text-center">
  <h2 class="text-packers-green-900 text-2xl md:text-3xl tracking-tight font-bold">
    {t("whatsApp.title")}
  </h2>
  <p class="text-packers-green-700 mt-4 text-sm md:text-sm">
    {t("whatsApp.subtext")}
  </p>
  <div class="flex items-center cursor-pointer mt-2">
    <a href="https://chat.whatsapp.com/DCeTE832kUTJfAiskx4krA" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <Image
          src={WhatsAppCommunityLogo}
          alt={t("whatsApp.altTag")}
          widths={[128, 128]}
          sizes="128px"
          loading="eager"
          format="avif"
          class="pt-2"
        />
    </a>
  </div>
</div>
