---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("pt-BR");

// randomly generated on the 404 page. Feel free to add more.
const errorStatuses = [
    {
        text: "False Start.",
        link: "https://en.wikipedia.org/wiki/False_start",
    },
    {
        text: "Offsides.",
        link: "https://en.wikipedia.org/wiki/Offside_(gridiron_football)",
    },
    {
        text: "Nuetral Zone Infraction.",
        link: "https://en.wikipedia.org/wiki/Neutral_zone_infraction",
    },
    {
        text: "Personal Foul.",
        link: "https://en.wikipedia.org/wiki/Personal_foul_(gridiron_football)",
    },
    {
        text: "Roughing the Passer.",
        link: "https://en.wikipedia.org/wiki/Roughing_the_passer",
    },
    {
        text: "Unnecessary Roughness.",
        link: "https://en.wikipedia.org/wiki/Unnecessary_roughness",
    },
    {
        text: "Holding.",
        link: "https://en.wikipedia.org/wiki/Holding_(gridiron_football)",
    },
    {
        text: "Illegal Use of Hands.",
        link: "https://en.wikipedia.org/wiki/Illegal_use_of_hands",
    },
    {
        text: "Illegal Block.",
        link: "https://en.wikipedia.org/wiki/Block_(American_football)#Illegal_block",
    },
    {
        text: "Illegal Formation.",
        link: "https://en.wikipedia.org/wiki/Formation_(gridiron_football)#Illegal_formation",
    },
    {
        text: "Illegal Motion.",
        link: "https://en.wikipedia.org/wiki/Illegal_motion",
    },
    {
        text: "Illegal Shift.",
        link: "https://en.wikipedia.org/wiki/Illegal_shift",
    },
    {
        text: "Illegal Substitution.",
        link: "https://www.wikiwand.com/en/Penalty_(gridiron_football)#List_of_penalties",
    },
    {
        text: "Illegal Touching.",
        link: "https://en.wikipedia.org/wiki/Touching_(gridiron_football)#Illegal_touching",
    },
    {
        text: "Illegal Forward Pass.",
        link: "https://en.wikipedia.org/wiki/Forward_pass#Illegal_forward_pass",
    },
    {
        text: "Illegal Touching.",
        link: "https://en.wikipedia.org/wiki/Touching_(gridiron_football)#Illegal_touching",
    },
];
const randomIndex = Math.floor(Math.random() * errorStatuses.length);
const randomErrorStatus = errorStatuses[randomIndex].text;
const randomErrorStatusLink = errorStatuses[randomIndex].link;
---

<Layout
  seoTitle="404 | Cabeça de Queijo"
  seoDescription="Página não encontrada"
  seoOpenGraph={{
    basic: {
      title: "404 | Página não encontrada",
      type: "website",
      url: "https://cabecadequeijo.com/404/",
      image: "https://cabecadequeijo.com/og/og-404-pt.png",
    },
    image: {
      alt: "Cabeça de Queijo Página não encontrada",
    },
  }}
>
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
        <p class="text-lg mt-4 text-slate-600">
          {
            <a href=`${randomErrorStatusLink}` target="_blank">
              {randomErrorStatus}
            </a>
          }
        </p>
        <p class="text-lg mt-4 text-slate-600">Page Not Found</p>
        <p class="text-lg mt-4 text-slate-600">Página Não Encontrada</p>
      </div>
    </div>
  </Container>
</Layout>
