---
import { getNextGames } from '@utils/getNextGames';
import Container from "@components/container.astro";
import PlayTodayLayout from "@layouts/PlayTodayLayout.astro";

import { changeLanguage } from "i18next";
changeLanguage("pt-BR");

const { nextGame } = await getNextGames();
const isPlayingToday = nextGame && new Date(nextGame.startTime).toDateString() === new Date().toDateString();
---

<PlayTodayLayout
  seoTitle={`Tem Jogo do Green Bay Packers Hoje? ${isPlayingToday ? 'SIM' : 'NÃO'}`}
  seoDescription={`Verifique rapidamente se o Green Bay Packers está jogando hoje.`}
  seoOpenGraph={{
    basic: {
      title: `Tem Jogo do Green Bay Packers Hoje? ${isPlayingToday ? 'SIM' : 'NÃO'}`,
      type: "website",
      image: `https://cabecadequeijo.com/og/og-playing-${isPlayingToday ? 'yes' : 'no'}.png`,
      url: "https://cabecadequeijo.com/play-today/",
    },
    image: {
      alt: `Captura de tela do site "Tem Jogo do Green Bay Packers Hoje?" ${isPlayingToday ? 'SIM' : 'NÃO'}`,
    },
  }}
>
  <Container>
    <div class="flex flex-col justify-center items-center pt-12 min-h-96">
      <div class="text-3xl font-semibold mb-4">
        Tem Jogo do Green Bay Packers Hoje?
      </div>
      <div class="text-[12rem] font-bold">
        {isPlayingToday ? '🧀 SIM 🧀' : 'NÃO 😭'}
      </div>
    </div>
  </Container>
</PlayTodayLayout>
