---
import { SEO } from "astro-seo";
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import JoinHero from "@components/joinHero.astro";
import StartAChapter from "@components/startAChapter.astro";
// import ChapterStats from "@components/chapterStats.astro";
import Newsletter from "@components/newsletter.astro";
import WhatsAppJoin from "@components/whatsApp.astro";
import MemberBenefits from "@components/memberBenefits.astro";

changeLanguage("pt-BR");
---

<Layout title="Join">
  <SEO
    title="Junte-se ao Clube de Fãs do Green Bay Packers no Brasil"
    description="Torne-se membro do clube oficial de fãs do Green Bay Packers no Brasil. Conecte-se com outros fãs, receba atualizações exclusivas e mostre seu apoio ao time."
    openGraph={{
      basic: {
        title: "Junte-se ao Clube de Fãs do Green Bay Packers no Brasil",
        type: "website",
        image: "https://cabecadequeijo.com/og/og-join-us-pt.png",
      },
      image: {
        alt: "Cabeça de Queijo Junte-se a nós pagina",
      },
    }}
  />
  <Container>
    <JoinHero>
      <!-- <ChapterStats /> -->
    </JoinHero>
    <MemberBenefits />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-0">
      <div class="col-span-1">
        <!-- Content for joining email newsletter -->
        <Newsletter />
      </div>
      <div class="col-span-1">
        <!-- Content for Joining WhatsApp Community Here -->
        <WhatsAppJoin />
      </div>
    </div>
    <!-- Submit a Bar, View Current Bars, Upcoming Games, etc -->
    <StartAChapter />
  </Container>
</Layout>
